services:
  - type: web
    name: portfolio-backend
    runtime: node
    buildCommand: npm install && npm run build
    startCommand: npm run start:prod
    envVars:
      - key: MAIL_USER
        sync: false
      - key: MAIL_PASS
        sync: false
